.about
{
  padding: 2.3em;
  /* background-color: #11318a; */
}
.about-us-logo
{
    /* position: relative; */
    /* bottom: -18px; */
}
/* #about-us-header
{
    background-color: purple;
    width: 80%;
    margin: 0 auto;
    font-size: 1.75rem;
    color: #11318a;
}  */
#about-us-header
{
    display: flex;
    align-items: center;
    font-size: 1.75rem;
    color: #11318a;
  
    width: 80%;
    margin: 0 auto;
    
}
#about-us-header img
{
    /* padding: 1.2em 1.2em 0 1.2em; */
}

.hr-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  .hr-container hr {
    border: none;
    /* border-bottom: 1px solid #11318a; */
    border-bottom: 1px solid black;

  }
/* .values
{
    padding: 3em;
    margin-bottom: 2.5em;
    color: #ffffff;
    min-height: 300px;
    max-width:100%;
    background-repeat: no-repeat;
    background-position: center;
}
main #item-1
{
    background-image: url("./satisfaction_image.JPG");
    background-size: cover;
}
main #item-2
{
    background-image: url("./goals_image.JPG");
    background-size: cover;
}
main #item-3
{
    background-image: url("./innovation_logo.JPG");
    background-size: cover;
}

@media (min-width: 1024px)
{
    .values
    {
        padding: 3em;
        margin-bottom: 2.5em;
        color: #ffffff;
        min-height: 700px;
        background-size: cover;
    }
} */

main {
    width: 100%;
    color: #ffffff;
  }
  
  main .card-items {
    display: flex;
    /* flex-direction: row; */
    /* background-size: cover; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 5em 0;
    margin-bottom: 45px;
  }
  
  main .card-items .card-text {
    /* background-color: #11318a; */
    flex: 1;
    margin-left: 2em;
    padding: 1em;
  }
  
  main .card-items .card-text h2
  {
    font-size: 3.1rem;
  }
  main .card-items .card-text p {
    font-size: 1.5rem;
    margin-top: 1em;
  }
  
  main #item-1 {
    background-image: url("../images/satisfaction_image.JPG");
    /* background-size: cover; */
    margin-left: 0;
  }
  
  main #item-2 {
    background-image: url("../images/goals_image.JPG");
    /* background-size: cover; */
  }
  
  main #item-3 {
    background-image: url("../images/innovation_logo.JPG");
    /* background-size: cover; */
  }
  
  @media (min-width: 1240px) {
    main {
      display: flex;
      /* background-color: red; */
      justify-content:center;
      padding: 2em;
      color: #fff;
      gap: 35px;
    }
  }
  